/** TABLES **/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 4px;
}

tr:nth-child(even){background-color: #d9d9d9;}

th {
    background-color: #ad423f;
    color: white;
}

/** BLOCKQUOTE**/
blockquote {
  background: #eee;
  border-left: 10px solid #ad423f;
  margin: 1.5em 50px;
  padding: 0.5em 10px;
}

.home-header{
  color: #fff;
  background-color: #ad423f;
  border-color: #ad423f;
  text-align: center;
}

.left-align {
  float: right;
}