/** TABLES **/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

#header{
	text-align: center;
}

.home-header{
  color: #fff;
  background-color: #ad423f;
  border-color: #ad423f;
  text-align: center;
}

.left-align {
  float: right;
}